{% load static %}
<html>

    <title></title>
    <head> 
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/bcnews' %}">
    </head>
    <style>
        body{
             background-repeat: no-repeat;
             background-size: 100% 100%;

        }
    </style>
    <body background="https://wallpapers.com/images/hd/information-technology-touch-button-interface-9ob50r8az4lv7op8.jpg">
        
        
        <div class="jumbotron" align="center" style="color: navy;background-color: fuchsia;" >
            <div class="container">
                <h2>Welcome To Bciit Info Portal</h2>
                <a class="btn btn-primary btn-lg" href="/kp" role="button" style="font-size: x-large;">Staff info</a>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="/pp" role="button" style="font-size: x-large;">Student info</a>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="/km" role="button" style="font-size: x-large;">Event info</a>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="/register" role="button" style="font-size: x-large;">Admission</a>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="/ky" role="button" style="font-size: x-large;">Scholarship</a>
            </div>
        
        </div>
        </div>
        </body>

</html>